<div class="row justify-content-center" style="margin-top: 10px;">
    <div class="col-md-4 col-xs-8 col-sm-12">
        <div class="card">
            <img class="card-img-top img-fluid img-thumbnail" style="width: 50%;margin-left: 25%;" src="assets/img/logo.svg"  alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">Ingresar</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="form" novalidate>
                    <div class="row">
                        <label>Usuario</label>
                        <input type="text" class="form-control" [(ngModel)]='in.username' formControlName="username">
                        <label style="color: red" *ngIf="form.get('username').hasError('required') && (form.get('username').dirty || form.get('username').touched)">Error</label>
                    </div>
                    <div class="row">
                        <label>Email</label>
                        <input type="email" class="form-control" [(ngModel)]='in.email' formControlName="email">
                        <label style="color: red" *ngIf="form.get('email').hasError('required') && (form.get('email').dirty || form.get('email').touched)">Error</label>
                    </div> 
                    <BR>
                    <div class="row justify-content-center">
                        <div class="col">
                            <button class="btn btn-info" (click)='onSubmit()' [disabled]="form.invalid">INGRESAR</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-warning" [routerLink]="['/registro']">REGITRARSE</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>