.fontsize18{
    font-size: 18pt;
}    
.fontsize20{
    font-size: 20pt;
}    
.fontsize22{
    font-size: 22pt;
}    
.fontsize24{
    font-size: 24pt;
}    
.fontsize33{
    font-size: 33pt;;
}    
.modal-backdrop.in {
	opacity: 0.2;
background-color:white;
}

.buttonapp{
    background-color:#707070;
    color: white;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 20px 10px 20px;
}

.buttonapp2{
    background-color:black;
    color: white;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 70px 10px 70px;
    margin-top: 5px;
}

.buttonapp:hover{
    background-color:white;
    color:#707070;
    border-color: #707070;
}
.colorOne{
    color:#CC699F;
}


#modal {
background: rgba(255, 255, 255, 0.9);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all .5s;
  display: none;
}

@media only screen and (min-width : 150px) and (max-width : 350px) {
 #botonModal{
     margin-top: 60%;
 }
 #botonModal .botones{
     margin-left: 20%
 }
 #botonModal .botoncerrar{
    margin-left: 60%;
 }
}

@media only screen and (min-width : 351px) and (max-width : 550px) {
 #botonModal{
     margin-top: 65%;
 }
 #botonModal .botones{
     margin-left: 10%;
 }
 #botonModal .botoncerrar{
    margin-left: 35%;
 }
}

@media only screen and (min-width : 551px) and (max-width : 750px) {
 #botonModal{
     margin-top: 35%;
 }
 #botonModal .botones{
     margin-left: 10%;
 }
 #botonModal .botoncerrar{
    margin-left: 25%;
 }
}

@media only screen and (min-width : 751px) and (max-width : 1050px) {
 #botonModal{
     margin-top: 25%;
 }
 #botonModal .botones{
     margin-left: 10%;
 }
 #botonModal .botoncerrar{
    margin-left: 110%;
 }
}

@media only screen and (min-width : 1051px) and (max-width : 1350px) {
 #botonModal{
     margin-top: 25%;
 }
 #botonModal .botones{
     margin-left: 10%;
 }
 #botonModal .botoncerrar{
    margin-left: 100%;
 }
}

@media only screen and (min-width : 1351px) {
 #botonModal{
     margin-top: 25%;
 }
 #botonModal .botones{
     margin-left: 10%;
 }
 #botonModal .botoncerrar{
    margin-left: 70%;
 }
}