<div class="container-fluid" *ngIf='!loading'>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="navbar-brand" href="#"><b class="fontsize22">ABC</b><b>.inc</b></a>
            </nav>
            <div class="row justify-content-center align-items-center minh-100">
                <div class="col-md-6">
                    <div class="row">
                        <h3 class="colorOne fontsize22"><b>Welcome to the Interactive Demo</b></h3>
                    </div>
                    <div class="row">
                        <p class="fontsize33">
                            <b>
                                {{demo}}                       
                            </b>
                        </p>
                    </div>
                    <div class="row">
                        <p class="fontsize24">
                            Loren ipsum dolor site ameting
                        </p>
                    </div>
                    <br>
                    <div class="row">
                        <button class="buttonapp" (click)='modalx("abrir")'><b>START DEMO</b></button>
                        <button class="buttonapp" [routerLink]="['/']" [queryParams]="{ 'token': token }"><b>VOLVER</b></button>

                    </div>
                    <br>
                </div>
                <div class="col-md-6 justify-content-center">
                    <img src="assets/img/logo2.svg" style="margin-top: -21%;margin-left: 28%;width: 85%;position: absolute;"  (click)='mensaje()'/>
                    <img src="assets/img/logo.svg" style="width: 67%;" />
                </div>
            </div>    
        </div>    
    </div>
    <footer class="text-center text-white footer" style="background-color: #000000;">
      
        <!-- Copyright -->
        <div class="text-justify text-dark p-3" style="background-color:#E3ACBF;">
           <b> Lorem ipsum dolor sit amet consectetur adipiscing elit, gravida volutpat sapien tellus vivamus etiam magna in, nisl viverra maecenas curabitur luctus ultrices. Consequat malesuada primis integer quisque eget himenaeos, porttitor nec nam sem proin orci, pulvinar magna ultricies bibendum habitant.Duis autem vel eum iriure dolor in 2021</b>
        </div>

        <!-- Copyright -->

        <!-- Grid container -->
        <div class="text-justify text-dark p-3" style="background-color: #000000;min-height: 90px;">
          
          </div>
      </footer>
    
<!--
    <div class="col-md-12" style="background-color:red;position: absolute;height: 100%;z-index: 100;margin-top: auto;">
        sdsadasd
    </div>
-->
</div>
<div class="container-fluid" *ngIf='loading'>
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="#"><b class="fontsize18">ABC.inc</b></a>
        </nav>
        <div class="row justify-content-center align-items-center minh-100">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <h3 class="colorOne fontsize22"><b>Acceso Denegado</b></h3>
                </div>
                <div class="row justify-content-center">
                    <button class="buttonapp" [routerLink]="['login']"><b>INGRESAR</b></button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/img/logo.svg" />
            </div>
        </div>    
    </div>
</div>

<div  id='modal' >
    <div class="row" id="botonModal">
        <div class="col-md-2 botones" >
            <div class="row botoncerrar"  >
                <span style="color: black;font-size: 25pt;text-align: left;" (click)='modalx("cerrar")'>X</span>
            </div>
            <div class="row">
                <a class="buttonapp2" [routerLink]="['/demo1']" [queryParams]="{ 'token': token }"><b>Demo 1</b></a>
            </div>
            <div class="row">
                <a class="buttonapp2" [routerLink]="['/demo2']" [queryParams]="{ 'token': token }"><b>Demo 2</b></a>
            </div>
            <div class="row">
                <a class="buttonapp2" [routerLink]="['/demo3']" [queryParams]="{ 'token': token }"><b>Demo 3</b></a>
            </div>                        
        </div>
    </div>    
</div>


